.form-control {
    line-height: 1.1;
    display: grid;
    grid-template-columns: auto 1em;
    gap: 0.5em;
    margin-top: 1em;
}

input[type="checkbox"] {
    /* hide default */
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    /* new style */
    font: inherit;
    color: lawngreen;;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}



input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em lawngreen;
    background-color: CanvasText;
    /* creating a checkmark*/
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

h2{
    color: red;
}



