body {
    margin: 2em;
    font-size: 1.5em;
    background-size: 100% auto;

}

h1 {
    color: #463325;
    text-shadow: 1px 1px 0px black;
}

/*.toDo {*/
/*    text-align: right;*/
/*}*/


.toDo img {
    width: 100%;
    height: auto;
}

#basicToDo {
    display: flex;
    gap: 30px;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
}

.toDoForm{
    font-size: 1em;
    background: #d8d2c4;
    /*background: cornsilk;*/
    padding: 10px;
    border-radius: 4px;
    border: 3px solid black;
    box-shadow: 0.5rem 0.5rem 0 ;
    font-weight: bold;
    height: 20rem;

}

.titleform{
    padding-bottom: 0px;
    margin-bottom: 0px;
}



input{
    padding: 5px;
    display: block;
    width: 25rem;
}