body{
    font-size: 1em;
    color: #463325;
    list-style-position: inside;
    background-image: url("../images/envelope.jpg");
    background-position: top center;
    background-attachment: scroll;
    display: grid;
    place-items: center;
    background-size: 100% auto;
    height: 100em;
    background-repeat: no-repeat;
    margin: 1em;
}

.myDuties {
    position: absolute;
    top: 50%;
    font-size: 2.5vw;
}

.double-line {
    border: none;
    border-top: 4px double #333;
    margin-top: 1em;
}


@media (max-width: 750px) {
    body {

        background-size: 100% auto;
        height: 45em;
        background-repeat: repeat;
    }
    .myDuties {
        position: absolute;
        top: 30%;
        font-size: 2.5vw;
    }
}




