body{
    font-size: 1em;
    color: darkblue;

    list-style-position: inside;
    background-image: url("../images/envelope.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    height: 100em;
    display: grid;
    place-items: center;
}


.myDuties {
    position: absolute;
    top: 50%;
    font-size: 5vw;
}

.double-line {
    border: none;
    border-top: 4px double #333;
    margin: 1.5em 0.5em 0.5em 0.5em;
}

