<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empty to-do list</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/empty-list.css}"/>
    <link rel="stylesheet" th:href="@{/css/iconStyle.css}"/>
</head>
<body>
<h1>Your to-do list is empty, return to the home page to add tasks.</h1>

<div>
    <a th:href="@{/}">
        <img class="icon" th:src="@{/images/home.png}" alt="home page" />
    </a>
</div>
</body>
</html>