<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create your ToDoList!</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/iconStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/bodyimage.css}">
</head>
<body>
<h1>Add your duties here:</h1>
<div id="basicToDo">
    <div class="toDoForm">
        <form action="/to-do-list" method="post">
            <label class="titleform" for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <br>

            <label class="titleform" for="description">Description:</label><br>
            <input type="text" id="description" name="description"><br><br>

            <div style="display: flex; align-items: center; gap: 10px;">
                <button type="submit">
                    <img class="bigger-icon" th:src="@{/images/coffee-cup.png}" alt="save a task"/>
                </button>
                <a th:href="@{/to-do-list}">
                    <img class="bigger-icon" th:src="@{/images/expresso.png}" alt="home page"/>
                </a>
            </div>
        </form>


    </div>



</div>




</body>
</html>