<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create your ToDoList!</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Add your duties here:</h1>
<div id="basicToDo">
    <div class="toDoForm">
        <form action="/to-do-list" method="post">
            <label class="titleform" for="title">Title:</label>
            <input type="text" id="title" name="title" required><br><br>

            <label class="titleform" for="description">Description:</label><br>
            <input type="text" id="description" name="description"><br><br>

            <button type="submit"> Save a task </button>
        </form>
    </div>
    <div class="toDo"><img src="/images/pexels-todo.jpg" alt="toDoList"></div>

</div>

<div>
    <button onclick="window.location.href='http://localhost:8080/to-do-list'">
         Check your to-do list here:
    </button>
</div>


</body>
</html>